<section id="categories" class="service-section pt-150">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8">
        <div class="section-title text-center">
          <span class="wow fadeInUp" data-wow-delay=".2s"> Juicy offers at your door.. </span>
          <h1 class="wow fadeInUp" data-wow-delay=".4s">Within 30 minutes !</h1>
        </div>
      </div>.
    </div>

    <div class="row">
      <div *ngFor="let storeCategory of storeCategories" class="col-lg-4 col-md-6">
        <div class="single-service wow text-center  fadeInUp" data-wow-delay=".2s">
          <div class="icon thumbnail mx-auto pt-4">
            <img src="{{ storeCategory.imgUrl }}" alt="" />

          </div>
          <div class="content">
            <h3>{{ storeCategory.name }}</h3>
            <button class="btn menubtn"> <a routerLink="/stores/{{storeCategory.id}}" class="btn menubtn d-block"> See all available stores</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
