.menubtn{
  background-color:#DC143C;
  color:#ffffff;
}

.menubtn:hover{
  background-color: whitesmoke;
color: #DC143C;
text-shadow: 0.8px 0.8px #0c0b0b;

}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  }
