<section id="about" class="about-section pt-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-img wow fadeInUp" data-wow-delay=".5s">
          <img src="assets/img/about/about.png" alt="" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-content">
          <div class="section-title">
            <!-- <span class="wow fadeInUp" data-wow-delay=".2s"></span> -->
            <h1 class="wow fadeInUp" data-wow-delay=".4s">Rate it! </h1>
            <p class="wow fadeInUp" data-wow-delay=".6s">Don't forget to submit your rating.This way you will help everyone to find their <b>ΝΕΧΤ</b> favourite! Chek out the best stores based on thousands of ratings and choose between hundreds of food products! </p>
          </div>
          <div class="rating-meta d-flex align-items-center wow fadeInUp" data-wow-delay=".65s">
            <h5>Rating 4.7</h5>
            <div class="rating">
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
              <i class="lni lni-star-filled"></i>
            </div>
          </div>

          <div class="counter-up wow fadeInUp" data-wow-delay=".8s">
            <div class="single-counter text-center  ">
              <h3 id="secondo1" class="countup ">1M</h3>
              <h5>Downloads</h5>
            </div>
            <div class="single-counter position-relative text-center">
              <h3 id="secondo2" class="countup">234k </h3>
              <h5>Ηappy Users</h5>
            </div>
            <div class="single-counter text-center">
              <h3 id="secondo3" class="countup">34k </h3>
              <h5>Reviews</h5>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
