<section>
  <div class="container shoppingcart">


    <div class="card" style="width: 80%;">
      <div class="card-body">
        <button class="btn btn-light btn-sm float-right menubtn" (click)="clearCart()">Clear Cart</button>
        <h1 class="">Your Shopping Cart</h1>
        You have <b>{{myCart.calculateTotalCartItems() }}</b> products in your cart right now

      </div>

      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th class="text-left" style="width: 400px">Product</th>
            <th class="text-center" style="width: 240px;">Quantity</th>
            <th class="text-center" style="width: 100px;">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of myCart.items">
            <td>
              <div class="thumbnail text-center mt-1 pt-3"><img src="{{ item.imgUrl}}" alt="resource not found" /></div>
            </td>
            <td class="pt-3">
              <b> {{ item.name }}</b>
              <br>
              {{item.description}}
            </td>
            <td class="text-center">
              <span class="mr-2 pt-4">
                <button (click)="reduceQuantityOrRemoveCartItem(item)" class="btn btn-md menubtn"><b>-</b></button>
              </span>
              <b>{{item.quantity}}</b>
              <span class="ml-2">
                <button (click)="addToCart(item)" class="btn btn-md menubtn">+</button>
              </span>

            </td>
            <td class="text-center pt-4">
              <!-- {{item.price | currency:'EUR'}} * {{item.quantity}} = -->
              <span class="pt-2">
                {{(item.cost && item.quantity)? (item.cost * item.quantity | currency:'EUR') : 0 }}
              </span>
            </td>

          </tr>
        </tbody>
        <tfoot *ngIf="cartEmpty" class="cart-btm-img bg-color ">
          <th></th>
          <th></th>
          <th></th>
          <th class="text-center pt-4 pr-3 ">Total: {{ myCart.totalPrice | currency:'EUR' }}</th>
          <tr>
            <th colspan="4" class="text-right " >
              <a  routerLink="/checkout" class="btn btn-md  menubtn">Checkout</a>
            </th>
          </tr>

        </tfoot>
      </table>
    </div>

  </div>


</section>
