.signup
{
  min-height: 80vh;
}

.bg-image {
  background-image: url('https://img.freepik.com/premium-vector/food-delivery-service-fast-food-delivery-scooter-delivery-service-illustration_67394-869.jpg?w=2000');
  background-size: cover;
  background-position: center center;}

.invalid-feedback
{
  margin-left: 25px;
}
