.menubtn{
  background-color:#DC143C;
  color:#ffffff;
}

.menubtn:hover{
  background-color: whitesmoke;
color: #DC143C;
text-shadow: 0.8px 0.8px #0c0b0b;

}
img {
  max-width: 40%;
  height: auto;
}

.bg-image {
  background-image: url('src\assets\img\food-doodle.jpg');
  background-repeat: repeat;
  background-size: 100%;
  background-position: 100%;}

.store-title{
 font-size:x-large;
 font-weight: 900;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

